In [ ]:
import numpy as np
import pandas as pd

In [ ]:
experts = [["e23"], ["e54", "e94"], ["e2"], ["e4"], ["e5", "e9", "e136"], ["e12", "e954"], ["e34"]]

In [ ]:
groups_ranks = dict(enumerate(experts))
groups_ranks

{0: ['e23'],
 1: ['e54', 'e94'],
 2: ['e2'],
 3: ['e4'],
 4: ['e5', 'e9', 'e136'],
 5: ['e12', 'e954'],
 6: ['e34']}

In [ ]:
objects = [item for sublist in experts for item in sublist]
objects

['e23', 'e54', 'e94', 'e2', 'e4', 'e5', 'e9', 'e136', 'e12', 'e954', 'e34']

In [ ]:
object_to_id = {v: k for k, v in dict(enumerate(objects)).items()}
object_to_id

{'e23': 0,
 'e54': 1,
 'e94': 2,
 'e2': 3,
 'e4': 4,
 'e5': 5,
 'e9': 6,
 'e136': 7,
 'e12': 8,
 'e954': 9,
 'e34': 10}

In [ ]:
matrix = np.zeros((len(objects), len(objects)))
prev_objects = []
for rank, group in groups_ranks.items():
    ids = [object_to_id[x] for x in group]
    self_ids = np.array(list(zip(ids, ids)))
    matrix[self_ids[:, :, None], ids] = 1
    matrix[np.array(prev_objects, dtype=np.int8)[:, None], ids] = 1
    prev_objects.extend(ids)

result = pd.DataFrame(matrix, columns=object_to_id.keys(), index=object_to_id.keys())
result

      e23  e54  e94   e2   e4   e5   e9  e136  e12  e954  e34
e23   1.0  1.0  1.0  1.0  1.0  1.0  1.0   1.0  1.0   1.0  1.0
e54   0.0  1.0  1.0  1.0  1.0  1.0  1.0   1.0  1.0   1.0  1.0
e94   0.0  1.0  1.0  1.0  1.0  1.0  1.0   1.0  1.0   1.0  1.0
e2    0.0  0.0  0.0  1.0  1.0  1.0  1.0   1.0  1.0   1.0  1.0
e4    0.0  0.0  0.0  0.0  1.0  1.0  1.0   1.0  1.0   1.0  1.0
e5    0.0  0.0  0.0  0.0  0.0  1.0  1.0   1.0  1.0   1.0  1.0
e9    0.0  0.0  0.0  0.0  0.0  1.0  1.0   1.0  1.0   1.0  1.0
e136  0.0  0.0  0.0  0.0  0.0  1.0  1.0   1.0  1.0   1.0  1.0
e12   0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  1.0   1.0  1.0
e954  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  1.0   1.0  1.0
e34   0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0  1.0